@model IEnumerable<string>

@{
    ViewBag.Title = "SensorMasterDetail";
}
<main class="main-flex">
    <aside id="SensorMasterList">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <button value="@item.Split(':')[1]"
                            class="btn-details"
                            id="@Url.Action("Details", "Sensors", new { id = item.Split(':')[0]})"></button>
                </li>
            }
        </ul>
    </aside>

    <div id="sensor-details">

    </div>
</main>