@model MasterDetailViewModel

<main class="main-flex">
    <aside id="SensorMasterList">

        @foreach (var item in Model.Sensors)
            {
            <div>
                <button id="@item.Id" onclick="loadDetails(id)">@item.Title</button>
            </div>
        }
    </aside>

    <main id="selected-sensor"></main>
    @{
        <button id="edit" onclick="loadEdit()">Edit</button>
        <button id="delete" onclick="loadDelete()">Delete</button>
    }
</main>

<script>
    let selectedItemId = ``;
    const loadDetails = (id) => {
        $(`#selected-sensor`).load(`/sensors/details/${id}`);
        selectedItemId = id;
    };

    const loadEdit = () => {
        $(`#selected-sensor`).load(`/sensors/edit/${selectedItemId}`);
    };

    const loadDelete = () => {
        $(`#selected-sensor`).load(`/sensors/delete/${selectedItemId}`);
    };
</script>