@model MasterDetailViewModel

<main class="main-flex">
    <aside id="SensorMasterList">

        @foreach (var item in Model.Sensors)
            {
            <div>
                <button id="@item.Id" onclick="loadDetails(id)" class="btn-details">@item.Title</button>
            </div>
        }
    </aside>

    <main id="selected-sensor"></main>
</main>

<script>
    const loadDetails = (id => $(`#selected-sensor`).load(`/sensors/details/${id}`));
</script>