@model MasterDetailViewModel

<main class="main-flex">
    <aside id="SensorMasterList">

        @foreach (var item in Model.Sensors)
            {
            <div>
                <button id="@Url.Action("Details", "Sensors",  new { area = "", id = item.Id}, null)"
                        onclick="loadDetails(id)">
                    @item.Title
                </button>
            </div>
        }
    </aside>

    <main id="sensor-details">

    </main>
</main>

<script>
    const loadDetails = (url => $(`#sensor-details`).load(url));
    const changeDropDownItem = (url => $(`#sensor-dropdown`).load(url));

    const rangeColor = (min, max) => {
        let sensorValue = $(`currentValue`);

        //no connection
        if (!Number(sensorValue.text)) return (sensorValue.text.style.color = `#A9A9A9`);

        if (Number(sensorValue.text) > min && Number(sensorValue.text) < max) {
            sensorValue.text.style.color = `#7FFF00`; //in range
        } else { sensorValue.text.style.color = `#FF0000`; } //out range
    };
</script>