<p>The Creators</p>
<div class="row">
    <img src="~/Content/Images/ceco.jpg" class="img-responsive" />
    <img src="~/Content/Images/dido.jpg" class="img-responsive" />
    <img src="~/Content/Images/joro.jpg" class="img-responsive" />
</div>
