<div class="row jumbotron">
    @Html.ActionLink("Manage Users", "AllUsers", "Admin", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Manage Sensors", "AllSensors", "Admin", null, new { @class = "btn btn-primary" })
</div>
