body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-header img {
    float: left;
    height: 3rem;
    margin: 10px 10px 0 10px;
}

.nav.navbar-nav li a {
    color: #fff;
}

#logoutForm > div > ul > li > ul > li > a {
    color: #000000;
}

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li.dropdown.open > ul > li > a {
    color: black
}

.main-flex {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}

#edit, #delete {
    padding: 5px;
    margin: 5px;
    display: inline;
    max-height: 50px;
    float: right;
}

#imageCarousel > div > div.item.active > div > p:nth-child(2) > a{
    float: right;
}

body > div.container.body-content > div > div:nth-child(1) > img{
    width: 70%;
}

div:nth-child(1) div .col-sm-4 {
    position: center;
}
